{% load django_bootstrap5 %}
<div class="col-md-3 mb-2 mb-md-0">
  <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
    <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
      <use xlink:href="#bootstrap"></use>
    </svg>
  </a>
</div>

<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="{% url 'home_page' %}" class="nav-link px-2 ">Профиль</a></li>
</ul>

<div class="col-md-3 text-end">
    {% if user.is_authenticated %}
    <a href="{% url 'logout_view' %}">
        <button type="button" class="btn btn-danger">Выйти</button>
    </a>
    {% else %}
    <a href="{% url 'registration' %}"><button type="button" class="btn btn-secondary">Зарегистрироваться</button></a>
    <a href="{% url 'sign_in' %}"><button type="button" class="btn btn-primary">Войти</button></a>
    {% endif %}
</div>
