{% extends 'base.html' %}

{% block content %}
{% load django_bootstrap5 %}

<div class="container py-5">
  <div class="card shadow-sm p-4">
    <h2 class="mb-4 text-center text-primary">Восстановление пароля</h2>
    <p class="lead text-center">
      Пожалуйста, проверьте свою почту и следуйте указанным инструкциям для восстановления пароля.
    </p>

    <div class="text-center mt-4">
      <a href="{% url 'sign_in' %}" class="btn btn-secondary">
        <i class="bi bi-box-arrow-in-right"></i> Вернуться к входу
      </a>
    </div>
  </div>
</div>
{% endblock %}

