{% extends 'base.html' %}

{% block content %}
{% load django_bootstrap5 %}

<div class="container py-5">
  <div class="card shadow-sm p-4">
    <h2 class="mb-4 text-center text-success">Сброс пароля выполнен успешно</h2>
    <p class="lead text-center">
      Ваш пароль был обновлён. Теперь вы можете войти, используя новые данные.
    </p>

    <div class="text-center mt-4">
      <a href="{% url 'sign_in' %}" class="btn btn-primary">
        <i class="bi bi-box-arrow-in-right"></i> Войти
      </a>
    </div>
  </div>
</div>
{% endblock %}
